<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/form']" class="btn btn-primary">
                            New photo
                        </a>
                    </span>
                    <input #filterText (keyup)="0" class="form-control" placeholder="filter by photo's title" />
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <panel *ngFor="let photo of photos | filterByTitle:filterText.value" title="{{photo.titulo}}" class="col-md-2">
            <photo url="{{photo.url}}" title="{{photo.titulo}}"></photo>
        </panel>
    </div>
</div>
